# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Acris' Blog
subtitle: Code is poetry
description: 代码如诗
author: Acris Liu
language: zh-CN
timezone: Asia/Shanghai

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://acris.me
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: true
  tab_replace:

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type:

# Sitemap
sitemap:
  path: sitemap.xml

# Feed
feed:
  type: atom
  path: atom.xml
  limit: 20
  hub:

# Search
search:
  path: search.xml
  field: post

# Footer Option
authorDetail:
  authorReading: Programmer
  avatar:
    path: https://cdn.reorz.com/images/2017/02/Lying.jpg
    width: 150
    height: 150
  description: Coding is poetry
copyright_notice: All rights reserved

# The following settings is the quick start options.
generator_amp:
  templateDir: amp-template
  assetDistDir: amp-dist
  logo:
    path: https://cdn.reorz.com/images/2017/03/amp-logo.png
    width: 600
    height: 60
  substituteTitleImage:
    path: https://cdn.reorz.com/images/2017/03/amp-substitute-title-image.png
    width: 1024
    height: 800
  warningLog: false   # To AMP HTML validate automatically, please set true.

# PWA
pwa:
  manifest:
    path: /manifest.json
    body:
      name: Acris' Blog - Code is poetry
      short_name: Acris' Blog
      description: Acris' Blog - Code is poetry
      icons:
        - src: https://cdn.reorz.com/images/2018/01/blog-icon-72x72.png
          sizes: 72x72
          type: image/png
        - src: https://cdn.reorz.com/images/2018/01/blog-icon-96x96.png
          sizes: 96x96
          type: image/png
        - src: https://cdn.reorz.com/images/2018/01/blog-icon-128x128.png
          sizes: 128x128
          type: image/png
        - src: https://cdn.reorz.com/images/2018/01/blog-icon-144x144.png
          sizes: 144x144
          type: image/png
        - src: https://cdn.reorz.com/images/2018/01/blog-icon-152x152.png
          sizes: 152x152
          type: image/png
        - src: https://cdn.reorz.com/images/2018/01/blog-icon-192x192.png
          sizes: 192x192
          type: image/png
        - src: https://cdn.reorz.com/images/2018/01/blog-icon-384x384.png
          sizes: 384x384
          type: image/png
        - src: https://cdn.reorz.com/images/2018/01/blog-icon-512x512.png
          sizes: 512x512
          type: image/png
      start_url: /?launcher=true
      theme_color: "#222222"
      background_color: "#222222"
      display: standalone
  serviceWorker:
    path: /sw.js
    preload:
      urls:
        - /
      posts: 5
    opts:
      networkTimeoutSeconds: 5
    routes:
      - pattern: !!js/regexp /www.google-analytics.com/
        strategy: networkOnly
      - pattern: !!js/regexp /.*\.(js|css|jpg|jpeg|png|gif)$/
        strategy: cacheFirst
      - pattern: !!js/regexp /\//
        strategy: networkFirst
  priority: 5
