name: Build blog

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Checkout source
        uses: actions/checkout@v6
        with:
          repository: Acris/blog-source
          token: ${{ secrets.ACCESS_TOKEN }}
          path: source

      - name: Checkout theme
        uses: actions/checkout@v6
        with:
          repository: Acris/hexo-theme-shiro
          path: themes/shiro

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Cache NPM dependencies
        uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{ runner.OS }}-npm-cache
          restore-keys: |
            ${{ runner.OS }}-npm-cache

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          port: ${{ secrets.DEPLOY_PORT }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          source: "public/*"
          target: ${{ secrets.DEPLOY_TARGET }}
          strip_components: 1
          rm: true
          overwrite: true

      - name: Change ownership
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          port: ${{ secrets.DEPLOY_PORT }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: chown -R ${{ secrets.FILE_OWNER }}:${{ secrets.FILE_GROUP }} ${{ secrets.DEPLOY_TARGET }}
